<!-- <h1>Search#search</h1>
<p>Find me in app/views/search/search.html.erb</p> -->

<table class="table">
  <thead class="table-dark fs-5">
    <tr>
      <th>タイトル</th>
      <th>種類</th>
      <th>著者</th>
      <th>説明</th>
    </tr>
  </thead>

  <tbody>
    <% @mangas.each_with_index do |manga| %>
      <tr>
        <td><%= link_to manga.title, manga, class: "btn btn-outline-primary text-break" %> </td>
        <td><%= link_to manga.get_category, manga.category, class: "btn btn-outline-dark" %> </td>
        <td><%= link_to manga.get_author, manga.author, class: "btn btn-outline-dark " %> </td>
        <% if manga.description != "" %>
          <td><%= link_to manga.description, "#", class: "btn btn-outline-dark text-break text-start" %> </td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
