<h1></h1>

<% if @authors.count > 0 %>
<table class="table">
  <thead class="table-dark fs-5">
    <tr>
      <th>名前</th>
      <th>誕生日</th>
      <th>ストーリ</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, author, class: "btn btn-outline-primary" %> </td>
        <td><%= link_to author.birthday.strftime("%d/%m/%Y"), "#", class: "btn btn-outline-dark" %> </td>
        <% if author.story != "" %>
          <td><%= link_to author.story, "#", class: "btn btn-outline-dark text-break text-start" %> </td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="fs-4">著者</p>
<% end %>

<br>

<%= link_to '新しい著者', new_author_path, class: "btn btn-outline-success" %>
