
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Team wibu</h1>
  <h2>Review manga</h2> 
</div>
<div class="mx-auto" style="width: 300px;">

<h2 text-align: center> Team Member </h2>
</div>

<div class="container mt-5">
    <div class="row">
    <div class="col-sm-4">
        <h3>Đoàn Xuân Hưng</h3>
        <p>20184117</p>
    </div>
    <div class="col-sm-4">
        <h3>Nguyễn Trung Đức</h3>
        <p> 20184073</p>
    </div>
    <div class="col-sm-4">
        <h3>Trần Đức Quân</h3>        
        <p>20184178</p>
    </div>
    <div class="col-sm-4">
        <h3>Lê Ngọc Long</h3>        
        <p>20184137</p>
    </div>
    <div class="col-sm-4">
        <h3>Đặng Duy Cương </h3>        
        <p>20180033</p>
    </div>
</div>